#root {
  --bg-color: #181818;
  --bg-card-color: #212121;
  --br-card-color: #363636;
  --txt-pr-color: #ffffff;
  --txt-sg-color: #ffffff;

  background-color: var( --bg-color);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
