#root {
  --bg-color: #1a181b;
  --bg-card-color: #252326;
  --br-card-color: #363636;
  --txt-pr-color: #949494;
  --txt-sg-color: #ffffff;

  background-color: var( --bg-color);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
